.a-button {
	@include textSingleLineS;

	background: $color-primary;
	border: 0;
	border-radius: 100px;
	color: $color-total-white;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	outline: none;
	padding: $space-s $space-m;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: color ease-in-out 0.3s, border-color ease-in-out 0.3s,
		background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;

	&.-big {
		width: 100%;

		@media #{$breakpoint-s} {
			width: auto;
			padding: $space-s $space-m;
			min-width: 264px;
		}
	}

	&.-medium {
		@include textSingleLineXS;

		padding: $space-xxs $space-m;
	}

	&.-small {
		@include textInfoM;

		padding: $space-xxxs $space-s;
	}

	&.-loading {
		color: transparent;
		pointer-events: none;

		&::after {
			animation: a-spinAround 500ms infinite linear;
			border: 2px solid $color-total-white;
			border-color: transparent transparent $color-total-white $color-total-white;
			border-radius: 100%;
			content: '';
			display: block;
			height: 1em;
			left: calc(50% - (1em / 2));
			position: absolute;
			top: calc(50% - (1em / 2));
			width: 1em;
		}

		&.-secondary {
			color: transparent;

			&::after {
				border: 2px solid $color-rhino-gray;
				border-color: transparent transparent $color-rhino-gray $color-rhino-gray;
			}
		}
	}

	&.-success {
		background-color: $color-jungle-green;

		&:hover,
		&.-hovered {
			background-color: $color-elf-green;
		}

		&:focus,
		&.-focused {
			background-color: $color-jungle-green;
			box-shadow: 0 0 0 2px $color-total-white, 0 0 0 4px rgba($color-jungle-green, 0.6);
		}
	}

	&.-danger {
		background-color: $color-crimson-red;

		&:hover,
		&.-hovered {
			background-color: $color-crimson-red;
		}

		&:focus,
		&.-focused {
			background-color: $color-crimson-red;
			box-shadow: 0 0 0 2px $color-total-white, 0 0 0 4px rgba($color-crimson-red, 0.6);
		}
	}

	&:disabled,
	&.-disabled {
		background-color: $color-athens-gray;
		color: $color-storm-gray;
		cursor: not-allowed;
		pointer-events: none;
	}

	&:hover,
	&.-hovered {
		background-color: $color-primary-dark;
		color: $color-total-white;
	}

	&:focus,
	&.-focused {
		background-color: $color-primary-dark;
		box-shadow: 0 0 0 2px $color-total-white, 0 0 0 4px rgba($color-primary-rgb, 0.6);
	}

	&.-roundedCorners {
		@include textSingleLineXS;

		border-radius: $radius-m;
		padding: $space-xxs $space-m;
	}

	&.-secondary {
		@include textSingleLineXS;

		background-color: $color-total-white;
		border: 2px solid $color-storm-gray;
		color: $color-firefly-black;
		padding: $space-xxxs $space-m;

		&:hover,
		&.-hovered {
			background-color: $color-total-white;
			border-color: $color-rhino-gray;
		}

		&:focus,
		&.-focus {
			background-color: $color-total-white;
			box-shadow: 0 0 0 2px $color-total-white, 0 0 0 4px rgba($color-storm-gray, 0.6);
		}

		&:disabled,
		&.-disabled {
			border-color: $color-cadet-gray;
			color: $color-mischka-gray;
		}
	}

	&.-text {
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: $color-primary;
		padding: $space-xxs $space-s;

		&:hover,
		&.-hovered {
			color: $color-primary-dark;
		}

		&:focus,
		&.-focus {
			background-color: $color-athens-gray;
			box-shadow: none;
		}

		&:disabled,
		&.-disabled {
			color: rgba($color-primary-rgb, 0.6);
		}
	}
}
