.a-select {
	// We need to force select to set height - line-height is not enough
	height: $line-height-text-l + 2 * $space-xxxs + 2px;

	option {
		color: $color-firefly-black;

		&:disabled {
			display: none;
		}
	}
}

.a-input,
.a-select {
	@include textL;

	background-color: $color-total-white;
	border: 1px solid $color-mischka-gray;
	border-radius: $radius-s;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	color: $color-firefly-black;
	outline: none;
	padding: $space-xxxs $space-xs;
	transition: color ease-in-out 0.3s, border-color ease-in-out 0.3s;
	width: 100%;

	&::placeholder {
		color: $color-cadet-gray;
	}

	&:hover,
	&.-hovered {
		border-color: $DEPRECATED-color-primary-dark;
	}

	&:focus,
	&:active {
		border-color: $color-primary;
	}

	&:disabled {
		border-color: $color-athens-gray;
		color: $color-storm-gray;
	}

	&:focus:invalid,
	&.-error {
		border-color: $color-crimson-red;
	}

	&:required:invalid {
		color: $color-storm-gray;
	}
}

.a-checkbox,
.a-radio {
	background-color: $color-total-white;
	border: 2px solid $color-cadet-gray;
	cursor: pointer;
	flex-shrink: 0;
	height: 24px;
	outline: none;
	transition: background-color ease-in-out 0.3s;
	width: 24px;
	-webkit-appearance: none;

	&.-small {
		@include textS;

		height: 16px;
		width: 16px;
	}
}

.a-checkbox {
	border-radius: $radius-xs;
	font-size: $font-size-headline-l;
	line-height: $line-height-text-l;
	text-align: center;

	&:hover {
		background-color: $DEPRECATED-color-primary-dark;
	}

	&:disabled {
		background-color: $color-total-white;
		border-color: $color-athens-gray;
		pointer-events: none;
	}

	&:checked {
		background-color: $color-primary;
		border-width: 0;

		&::before {
			color: $color-total-white;
			content: '✔';
		}
	}
}

.a-radio {
	border-radius: 100%;

	&:hover {
		background-color: $DEPRECATED-color-primary-dark;
	}

	&:disabled {
		background-color: $color-total-white;
		border-color: $color-athens-gray;
		pointer-events: none;
	}

	&:checked {
		box-shadow: inset 0 0 0 2px $color-primary, inset 0 0 0 4px $color-total-white;
		background-color: $color-primary;
		border-width: 0;
	}
}

.a-label {
	@include textM;

	color: $color-firefly-black;
	cursor: pointer;
	display: inline-block;

	&.-required::after {
		color: $color-primary;
		content: '*';
	}

	&__optionalText {
		color: $color-ocean-green;
		font-style: italic;
		font-weight: normal;
	}
}

.a-legend {
	@include textL;
}

.a-error {
	@include textS;

	color: $color-crimson-red;
}
