.a-icon {
	display: inline-flex;

	&.-touchable {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		min-height: $min-touchable-size;
		min-width: $min-touchable-size;
	}

	.svg-inline--fa {
		height: $icon-m;
		width: $icon-m;
	}

	.-xx-large {
		height: $icon-xxl;
		width: $icon-xxl;
	}

	.-x-large {
		height: $icon-xl;
		width: $icon-xl;
	}

	.-large {
		height: $icon-l;
		width: $icon-l;
	}

	.-small {
		height: $icon-s;
		width: $icon-s;
	}

	.-x-small {
		height: $icon-xs;
		width: $icon-xs;
	}

	.-xx-small {
		height: $icon-xxs;
		width: $icon-xxs;
	}
}
