.a-icon {
	display: inline-block;
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font: normal normal normal #{$icon-m}/ 1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;

	&::before {
		display: block;
		margin: 0 auto;
	}

	&.-touchable {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		min-height: $min-touchable-size;
		min-width: $min-touchable-size;
	}

	&.-xx-large {
		font-size: $icon-xxl;
	}

	&.-x-large {
		font-size: $icon-xl;
	}

	&.-large {
		font-size: $icon-l;
	}

	&.-small {
		font-size: $icon-s;
	}

	&.-x-small {
		font-size: $icon-xs;
	}

	&.-xx-small {
		font-size: $icon-xxs;
	}
}
