.a-link {
	cursor: pointer;
	color: $color-primary;

	&:hover {
		color: $color-primary;
	}
}

.a-linkInText {
	cursor: pointer;
	color: inherit;
	text-decoration: underline;

	&:hover {
		// We need this override for the old styleguide
		color: currentColor;
	}
}
