.m-buttonWithNote {
	display: inline-flex;
	flex-direction: column;

	.a-button {
		margin-bottom: $space-s;
	}

	.m-buttonWithNote__note {
		@include textS;

		max-width: 80%;
		margin: 0 auto;
		text-align: center;
	}
}
