.m-formGroup {
	line-height: 1;

	&:not(:last-child):not(.-marginLess) {
		margin-bottom: $space-s;
	}

	.a-label {
		margin-bottom: $space-xxxs;
	}

	.a-error {
		margin-top: $space-xxxxs;
	}

	.a-checkbox,
	.a-radio {
		margin-right: $space-s;
	}

	&__inputWrapper {
		position: relative;

		.a-icon {
			color: $color-storm-grey;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&.-checkbox {
		align-items: center;
		display: flex;

		.a-label {
			@include textM;

			margin-bottom: 0;
		}
	}

	&.-withIcon {
		.a-icon {
			margin-left: 10px;
		}
	}
}
