.-cadetBlue {
	color: $color-cadet-blue;
}

.-catalinaBlue {
	color: $color-catalina-blue;
}

.-stormGray {
	color: $color-storm-gray;
}

.-mischka {
	color: $color-mischka;
}

.-white {
	color: $color-white;
}

.-jungleGreen {
	color: $color-jungle-green;
}

.-ebonyClay {
	color: $color-ebony-clay;
}

.-lightSkyBlue {
	color: $color-light-sky-blue;
}
