.-cadetBlue {
	color: $color-cadet-blue;
}

.-catalinaBlue {
	color: $color-catalina-blue;
}

.-stormGray {
	color: $color-storm-gray;
}

.-mischka {
	color: $color-mischka;
}

.-white {
	color: $color-white;
}

.-jungleGreen {
	color: $color-jungle-green;
}

.-navyBlue {
	color: $color-navy-blue;
}

.-firefly {
	color: $color-firefly;
}

.-oceanGreen {
	color: $color-ocean-green;
}

.-deluge {
	color: $color-deluge-violet;
}
