.-cadetBlue {
	color: $color-cadet-blue;
}

.-catalinaBlue {
	color: $color-catalina-blue;
}

.-stormGray {
	color: $color-storm-gray;
}

.-mischkaGray {
	color: $color-mischka-gray;
}

.-totalWhite {
	color: $color-total-white;
}

.-jungleGreen {
	color: $color-jungle-green;
}

.-navyBlue {
	color: $color-navy-blue;
}

.-fireflyBlack {
	color: $color-firefly-black;
}

.-oceanGreen {
	color: $color-ocean-green;
}

.-delugeViolet {
	color: $color-deluge-violet;
}
