.-textLight {
	font-weight: 300;
}

.-textRegular {
	font-weight: 400;
}

.-textMedium {
	font-weight: 500;
}

.-textBold {
	font-weight: 700;
}

.-textItalic {
	font-style: italic;
}

.-textUnderline {
	text-decoration: underline;
}

.-textUppercase {
	text-transform: uppercase;
}

.-textCenter {
	text-align: center;
}

.-textInfoS {
	@include textInfoS;
}

.-textInfoM {
	@include textInfoM;
}

.-textXS {
	@include textXS;
}

.-textS {
	@include textS;
}

.-textM {
	@include textM;
}

.-textL {
	@include textL;
}

.-textXL {
	@include textXL;
}

.-headlineXXS {
	@include headlineXXS;
}

.-headlineXS {
	@include headlineXS;
}

.-headlineS {
	@include headlineS;
}

.-headlineM {
	@include headlineM;
}

.-headlineL {
	@include headlineL;
}

.-headlineXL {
	@include headlineXL;
}

.-titleS {
	@include titleS;
}

.-titleM {
	@include titleM;
}

.-titleL {
	@include titleL;
}
