.-textLight {
  font-weight: 300;
}

.-textRegular {
  font-weight: 400;
}

.-textMedium {
  font-weight: 500;
}

.-textBold {
  font-weight: 700;
}

.-textUnderline {
  text-decoration: underline;
}

.-textUppercase {
  text-transform: uppercase;
}

.-textCenter {
  text-align: center;
}

.-textMinus2 {
  @include textMinus2;
}

.-textMinus1 {
  @include textMinus1;
}

.-textPlus1 {
  @include textPlus1;
}

.-textPlus2 {
  @include textPlus2;
}

.-textPlus3 {
  @include textPlus3;
}
