// We reuse Bulma styles for now so the naming convetion isn't followed.
// In future we should think about creating our own set of styles for content
.content.-styleguide {
	* {
		font-family: 'Lato', sans-serif;
	}

	h1,
	h2,
	h3 {
		color: $color-firefly;
		font-weight: 700;
	}

	h1 {
		@include header5;

		margin-bottom: $space-xl;
	}

	h2 {
		@include textL;

		margin-bottom: $space-l;
	}

	p,
	h3,
	ul,
	ol,
	blockquote {
		@include textM;

		margin-bottom: $space-m;
	}

	img {
		margin: $space-s 0;
	}

	.a-icon {
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font-family: 'FontAwesome';
	}
}

.a-paragraph {
	@include textS;

	margin-bottom: $space-s;

	&:last-child {
		margin-bottom: 0;
	}
}
