.o-dropdown {
	position: relative;
	display: inline-flex;

	.o-dropdown__menu {
		@include shadow();

		border-bottom-left-radius: $radius-s;
		border-bottom-right-radius: $radius-s;
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 100;
		background-color: $color-total-white;
		min-width: 244px;
	}

	&.-active {
		.o-dropdown__menu {
			display: initial;
		}
	}

	.o-dropdown__trigger {
		cursor: pointer;
		line-height: 0;
	}

	.o-dropdown__item {
		cursor: pointer;
		display: inline-block;
		width: 100%;
		padding: $space-xs;

		&.-small {
			@include headlineXS();
		}

		&.-medium {
			@include headlineS();
		}

		&:last-child {
			border-bottom-left-radius: $radius-s;
			border-bottom-right-radius: $radius-s;
		}

		&:hover {
			background-color: rgba($color-firefly-black, 0.12);
		}

		&:focus {
			background-color: rgba($color-firefly-black, 0.24);
		}
	}
}
