// regular colors
$color-jungle-green: #27aa5b;
$color-elf-green: #239952;
$color-fruit-salad: #43a047;
$color-ocean-green: #44b490;
$color-de-york: #81c784;
$color-mantis: #8bc34a;
$color-feijoa: #aed581;

$color-alizarin-crimson: #de2f1b;
$color-crimson-light: #ee978d;
$color-crimson-dark: #be2a1c;

$color-dark-blue: #2f4999;
$color-governor-bay: #374dc1;
$color-navy-blue: #0277bd;
$color-light-sky-blue: #81d4fa;

$color-witch-haze: #fff176;
$color-gorse: #fdd835;
$color-mustard: #ffd54f;
$color-amber: #ffc107;
$color-my-sin: #fdb72d;
$color-atomic-tangerine: #ff8a65;
$color-outrageous-orange: #ff5722;

$color-gigas: #62378d;
$color-deluge: #7b569f;

$color-firefly: #0c1726;
$color-ebony-clay: #262b37;
$color-catalina-blue: #25335a;
$color-rhino: #434a5a;
$color-storm-grey: #6f7285;
$color-cadet-blue: #a7acbd;
$color-mischka: #cdd0da;
$color-athens-grey: #e6e8ee;
$color-alabaster-opacitied: #f2f2f2;
$color-alabaster: #f6f6f8;
$color-white: #fff;

$color-primary-rgb: var(--color-primary-rgb);

// theme colors
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);
$color-secondary: var(--color-secondary);

// functional colors
$color-success: $color-ocean-green;
$color-warning: $color-my-sin;
$color-error: $color-alizarin-crimson;
$color-error-light: $color-crimson-light;
$color-error-dark: $color-crimson-dark;
$color-background: $color-alabaster;

$color-shadow: rgba($color-firefly, 0.35);
$color-success-shadow: rgba($color-success, 0.7);
$color-error-shadow: rgba($color-error, 0.7);
