$color-blue-chill: #0D9EA0;
$color-surfie-green: #0F8385;
$color-jungle-green: #27AA5B;

$color-alizarin-crimson: #DE2F1B;

$color-governor-bay: #374DC1;

$color-my-sin: #FDB72D;

$color-gigas: #62378D;
$color-deluge: #7B569F;

$color-firefly: #0C1726;
$color-ebony-clay: #262B37;
$color-catalina-blue: #25335A;
$color-rhino: #434A5A;
$color-storm-gray: #6F7285;
$color-cadet-blue: #A7ACBD;
$color-mischka: #CDD0DA;
$color-athens-grey: #E6E8EE;
$color-alabaster: #F7F7F7;
$color-white: #FFFFFF;
