$color-blue-chill: var(--color-blue-chill);
$color-surfie-green: var(--color-surfie-green);
$color-jungle-green: #27aa5b;
$color-elf-green: #239952;
$color-fruit-salad: #43a047;
$color-ocean-green: #44b490;
$color-de-york: #81c784;
$color-mantis: #8bc34a;
$color-feijoa: #aed581;

$color-alizarin-crimson: #de2f1b;

$color-governor-bay: #374dc1;
$color-navy-blue: #0277bd;
$color-light-sky-blue: #81d4fa;
$color-sky-blue: #11AFB2;

$color-witch-haze: #fff176;
$color-gorse: #fdd835;
$color-mustard: #ffd54f;
$color-amber: #ffc107;
$color-my-sin: #fdb72d;
$color-atomic-tangerine: #ff8a65;
$color-outrageous-orange: #ff5722;

$color-gigas: #62378d;
$color-deluge: #7b569f;

$color-firefly: #0c1726;
$color-ebony-clay: #262b37;
$color-catalina-blue: #25335a;
$color-rhino: #434a5a;
$color-storm-grey: #6f7285;
$color-cadet-blue: #a7acbd;
$color-mischka: #cdd0da;
$color-athens-grey: #e6e8ee;
$color-alabaster-opacitied: #f2f2f2;
$color-alabaster: #f7f7f7;
$color-white: #fff;

$color-blue-chill-rgb: var(--color-blue-chill-rgb);

$shadow-color: rgba(12,23,38,0.35);
