$font-size-info-s: 8px;
$line-height-info-s: 12px;

$font-size-info-m: 10px;
$line-height-info-m: 12px;

$font-size-text-xs: 10px;
$line-height-text-xs: 12px;

$font-size-text-s: 12px;
$line-height-text-s: 16px;

$font-size-text-m: 14px;
$line-height-text-m: 18px;

$font-size-text-l: 16px;
$line-height-text-l: 24px;

$font-size-text-xl: 18px;
$line-height-text-xl: 26px;

$font-size-headline-xxs: 12px;
$line-height-headline-xxs: 16px;

$font-size-headline-xs: 14px;
$line-height-headline-xs: 16px;

$font-size-headline-s: 16px;
$line-height-headline-s: 20px;

$font-size-headline-m: 20px;
$line-height-headline-m: 28px;

$font-size-headline-l: 24px;
$line-height-headline-l: 32px;

$font-size-headline-xl: 28px;
$line-height-headline-xl: 38px;

$font-size-title-s: 36px;
$line-height-title-s: 52px;

$font-size-title-m: 44px;
$line-height-title-m: 58px;

$font-size-title-l: 52px;
$line-height-title-l: 68px;

@mixin textInfoS {
	font-size: $font-size-info-s;
	line-height: $line-height-info-s;
}

@mixin textInfoM {
	font-size: $font-size-info-m;
	line-height: $line-height-info-m;
}

@mixin textXS {
	font-size: $font-size-text-xs;
	line-height: $line-height-text-xs;
}

@mixin textS {
	font-size: $font-size-text-s;
	line-height: $line-height-text-s;
}

@mixin textM {
	font-size: $font-size-text-m;
	line-height: $line-height-text-m;
}

@mixin textL {
	font-size: $font-size-text-l;
	line-height: $line-height-text-l;
}

@mixin textXL {
	font-size: $font-size-text-xl;
	line-height: $line-height-text-xl;
}

@mixin headlineXXS {
	font-size: $font-size-headline-xxs;
	line-height: $line-height-headline-xxs;
}

@mixin headlineXS {
	font-size: $font-size-headline-xs;
	line-height: $line-height-headline-xs;
}

@mixin headlineS {
	font-size: $font-size-headline-s;
	line-height: $line-height-headline-s;
}

@mixin headlineM {
	font-size: $font-size-headline-m;
	line-height: $line-height-headline-m;
}

@mixin headlineL {
	font-size: $font-size-headline-l;
	line-height: $line-height-headline-l;
}

@mixin headlineXL {
	font-size: $font-size-headline-xl;
	line-height: $line-height-headline-xl;
}

@mixin titleS {
	font-size: $font-size-title-s;
	line-height: $line-height-title-s;
}

@mixin titleM {
	font-size: $font-size-title-m;
	line-height: $line-height-title-m;
}

@mixin titleL {
	font-size: $font-size-title-l;
	line-height: $line-height-title-l;
}

@mixin textLight {
	font-weight: 300;
}

@mixin textMedium {
	font-weight: 500;
}

@mixin textBold {
	font-weight: 700;
}

@mixin titleLevel4 {
	@include textBold;
	@include headlineL;
}
