$font-size-info-s: 8px;
$line-height-info-s: 12px;

$font-size-info-m: 10px;
$line-height-info-m: 12px;

$font-size-text-xs: 12px;
$line-height-text-xs: 16px;
$line-height-text-single-line-xs: 16px;

$font-size-text-s: 14px;
$line-height-text-s: 18px;
$line-height-text-single-line-s: 16px;

$font-size-text-m: 16px;
$line-height-text-m: 24px;
$line-height-text-single-line-m: 20px;

$font-size-text-l: 18px;
$line-height-text-l: 26px;
$line-height-text-single-line-l: 24px;

$font-size-header-6: 20px;
$line-height-header-6: 28px;

$font-size-header-5: 24px;
$line-height-header-5: 32px;

$font-size-header-4: 28px;
$line-height-header-4: 38px;

$font-size-header-3: 32px;
$line-height-header-3: 42px;

$font-size-header-2: 44px;
$line-height-header-2: 58px;

$font-size-header-1: 52px;
$line-height-header-1: 68px;

@mixin textInfoS {
	font-size: $font-size-info-s;
	line-height: $line-height-info-s;
}

@mixin textInfoM {
	font-size: $font-size-info-m;
	line-height: $line-height-info-m;
}

@mixin textXS {
	font-size: $font-size-text-xs;
	line-height: $line-height-text-xs;
}

@mixin textSingleLineXS {
	font-size: $font-size-text-xs;
	line-height: $line-height-text-single-line-xs;
}

@mixin textS {
  font-size: $font-size-text-s;
  line-height: $line-height-text-s;
}

@mixin textSingleLineS {
	font-size: $font-size-text-s;
	line-height: $line-height-text-single-line-s;
}

@mixin textM {
  font-size: $font-size-text-m;
  line-height: $line-height-text-m;
}

@mixin textSingleLineM {
	font-size: $font-size-text-m;
	line-height: $line-height-text-single-line-m;
}

@mixin textL {
  font-size: $font-size-text-l;
  line-height: $line-height-text-l;
}

@mixin textSingleLineL {
	font-size: $font-size-text-l;
	line-height: $line-height-text-single-line-l;
}

@mixin header6 {
  font-size: $font-size-header-6;
  line-height: $line-height-header-6;
}

@mixin header5 {
  font-size: $font-size-header-5;
  line-height: $line-height-header-5;
}

@mixin header4 {
  font-size: $font-size-header-4;
  line-height: $line-height-header-4;
}

@mixin header3 {
  font-size: $font-size-header-3;
  line-height: $line-height-header-3;
}

@mixin header2 {
  font-size: $font-size-header-2;
  line-height: $line-height-header-2;
}

@mixin header1 {
  font-size: $font-size-header-1;
  line-height: $line-height-header-1;
}

@mixin textLight {
	font-weight: 300;
}

@mixin textMedium {
	font-weight: 500;
}

@mixin textBold {
	font-weight: 700;
}

@mixin titleLevel4 {
	@include textBold;
	@include header5;
}
