.ds-progressBarLegend[data-v-d3231fec]{display:flex;flex-wrap:wrap;gap:12px 24px;padding-top:12px}.ds-progressBarLegend.-ds-compact[data-v-d3231fec]{gap:8px 16px}.ds-progressBarLegend.-ds-small[data-v-d3231fec]{padding-top:8px}
